html, body {
  //height: 100%;
  overflow: hidden;
}

body {
  padding: 50px 0 0 0;
}

.body-content {
    padding: 0;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}

.navbar-toggle.right {
  float: right;
  margin-right: 15px;
}

div#filter-button {
    position: absolute;
    top: 60px;
    left: 10px;
}

div#info-button {
    position: absolute;
    top: 60px;
    right: 10px;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

form#filters {
    padding-left: 10px;
    padding-right: 10px;
}

form#filters label, form#filters input, form#filters select {
    width: 100%;
}

.navbar-right {
    margin-right: 15px !important;
}

.normal {
    font-weight: normal;
}

#info-panel {
    margin: 0 15px 0 15px;
}

#hover-info {
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius:3px;
  border-radius: 3px;
  border: 2px solid #DDD;
  background: #fff;
  opacity: 1;
  color: #000;
  padding: 10px 10px 0 10px;
  width: 300px;
  font-size: 15px;
  z-index: 120;
}

#hover-info p.main {
  font-size: 15px;
  text-align: center;
  padding:0;
  margin:0;
}

hr.tooltip-hr {
  padding:3px 0 0 0;
  margin:3px 0 3px 0;
}

#hover-info .title {
  font-size: 20px;
  line-height: 24px;
}
 
#hover-info .name {
  font-weight:bold;
}

#zoom-controls {
  position: absolute;
  top: 100px;
  left: 24px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 9px;
    height: 175px;
    padding: 0 5px;
}

.bar {
  fill: #337ab7;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
